<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.rappels_simple">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:label="rappels_simple"
        android:icon="@mipmap/ic_launcher">

        <!-- Activité principale Flutter -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- Activité qui s’affiche quand une alarme sonne -->
        <activity
            android:name=".AlarmActivity"
            android:exported="true"
            android:theme="@style/AlarmTheme"
            android:showWhenLocked="true"
            android:turnScreenOn="true"
            android:excludeFromRecents="true"
            android:taskAffinity=""
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" />

        <!-- Receiver pour déclencher l’affichage même si l’app est fermée -->
        <receiver
            android:name=".AlarmReceiver"
            android:exported="true" />

        <!-- Thème normal après le splash  ok-->
        <meta-data
            android:name="io.flutter.embedding.android.NormalTheme"
            android:resource="@style/NormalTheme"/>
        <meta-data
            android:name="flutterEmbedding"
            android:value="2"/>
    </application>
</manifest>